<h1>{{cubicle.name}}</h1>
<img class="cube" src="{{cubicle.imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{cubicle.description}}</p>
  <p><span>Difficulty level:</span> {{cubicle.difficulty}}</p>
  <a class="btn" href="/">Back</a>
  <a class="btn" href="/edit/{{cubicle.id}}">Edit</a>
</div>