<form class="theater-form" action="/plays/delete/{{play._id}}" method="POST">
    <h1>Create Theater</h1>
    <div>
        <label for="title">Theater Title:</label>
        <input type="text" placeholder="Theater name" value="{{play.title}}" name="title" disabled>
    </div>
    <div>
        <label for="description">Theater Description:</label>
        <textarea placeholder="Description" name="description" disabled>{{play.description}}</textarea>
    </div>
    <div>
        <label for="imageUrl">Image url:</label>
        <input type="text" placeholder="Image Url" value="{{play.imageUrl}}" name="imageUrl" disabled>
    </div>
    <div class="check">
        <input type="checkbox" id="check-box" name="isPublic" checked="{{play.title}}" disabled>
        <label for="check-box">Public</label>
    </div>
    <button class="btn" type="submit">Delete</button>
</form>