<div class="cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difficulty}}</p>
    <button class="btn more">See more</button>
    <p class="cube-info"><span>Description:</span> {{description}}</p>
    <a class="btn" href="/details/{{_id}}">Details</a>
</div>