<section>
    {{#if query}}
    <h2>Search results for: "{{query}}"</h2>
    {{else}}
    <h2>All articles</h2>
    {{/if}}
    <div class="spacer">
        <ul>
            {{#each articles}}
                <li><a href="/articles/details/{{this._id}}">{{this.title}}</a></li>
            {{else}}
                <li>There are no articles yet. You are welcome to post the first one!</li>
            {{/each}}
        </ul>
    </div>
</section>